/*
  maincolor should be #38a7bb
*/

.greyscale-image {
  filter: gray; /* IE5+ */
  opacity: 0.9;
  -webkit-filter: grayscale(1);
  transition: all .25s linear; 
  -webkit-transition: all .25s linear;  
}

.greyscale-image:hover {
  opacity: 1;
  filter: none;
  -webkit-filter: grayscale(0);
}

.centered-underline b {
  display: inline-block;
  position: relative;
}
.centered-underline b:after {
  content: "";
  height: 3px;
  width: 50%;
  background-color: #2196f3;
  position: absolute;
  bottom: -.1em;
  left: 50%;
  transform: translate(-50%);
}

.scale-hover {
  transform: scale(1);
  transition: all 150ms ease-in-out;
}

.scale-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.no-link {
  color: rgb(99, 104, 109);
  text-decoration: none;
}

.no-link:hover * {
  color: purple;
}

.color-hover {
  cursor: pointer;
  color: rgb(99, 104, 109);
}

.color-hover:hover * {
  color: purple;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

@media (min-width: 0px) and (max-width: 600px) {
  .img-responsive {
    max-width: 200px;
    max-height: 150px;
  }
}
@media (min-width: 600.1px) and (max-width: 960px) {
  .img-responsive {
    max-width: 300px;
    max-height: 200px;
  }
}
@media (min-width: 960.1px) and (max-width: 1280px) {
  .img-responsive {
    max-width: 400px;
    max-height: 300px;
  }
}
@media (min-width: 1280.1px) and (max-width: 1920px) {
  .img-responsive {
    max-width: 400px;
    max-height: 300px;
  }
}
@media (min-width: 1920.1px)  {
  .img-responsive {
    max-width: 400px;
    max-height: 300px;
  }
}